___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [3]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [4]:
df = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [5]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [7]:
df['BasePay'].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [8]:
df['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [12]:
df[df['EmployeeName'] =='JOSEPH DRISCOLL']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

In [13]:
df[df['EmployeeName'] =='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [14]:
df[df['EmployeeName'] =='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [26]:
df[df['TotalPayBenefits'] == df['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [44]:
df[df['TotalPayBenefits'] == df['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [55]:
df['TotalPayBenefits'].idxmax()

0

In [56]:
df.loc[df['TotalPayBenefits'].argmax()]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  """Entry point for launching an IPython kernel.

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [53]:
df.iloc[df['TotalPayBenefits'].argmax()]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  """Entry point for launching an IPython kernel.

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [61]:
df.loc[df['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [62]:
df['TotalPayBenefits'].idxmax()

0

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [73]:
df[df['TotalPayBenefits'] == df['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [74]:
type(df[df['TotalPayBenefits'] == df['TotalPayBenefits'].min()])

pandas.core.frame.DataFrame

In [71]:
df.loc[df['TotalPayBenefits'].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                      0
OvertimePay                                  0
OtherPay                               -618.13
Benefits                                     0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

In [72]:
df.iloc[df['TotalPayBenefits'].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                      0
OvertimePay                                  0
OtherPay                               -618.13
Benefits                                     0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

In [70]:
type(df.loc[df['TotalPayBenefits'].idxmin()])

pandas.core.series.Series

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [79]:
df.groupby('Year').mean()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Notes,Status
Year,,,,,,,,,
2011,18080.0,63595.956517,4531.065429,3617.081926,NaN,71744.103871,71744.103871,NaN,NaN
2012,54542.5,65436.406857,5023.417824,3653.437583,26439.966967,74113.262265,100553.229232,NaN,NaN
2013,91728.5,69630.030216,5281.641980,3819.969007,23829.076572,77611.443142,101440.519714,NaN,NaN
2014,129593.0,66564.421924,5401.993737,3505.421251,24789.601756,75463.918140,100250.918884,NaN,NaN

In [77]:
df.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [83]:
df['JobTitle'].unique()  # Return whole list

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

In [84]:
len(df['JobTitle'].unique())

2159

In [82]:
df['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [87]:
df['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [93]:
df[df['Year'] == 2013]['JobTitle'].value_counts()

Transit Operator                  2295
Special Nurse                     1445
Registered Nurse                  1231
Public Svc Aide-Public Works       859
Custodian                          789
Firefighter                        785
Police Officer 3                   774
Patient Care Assistant             676
Recreation Leader                  654
Deputy Sheriff                     653
Police Officer                     503
Public Service Trainee             439
Police Officer 2                   383
Attorney (Civil/Criminal)          371
Sergeant 3                         361
Porter                             360
Eligibility Worker                 355
General Laborer                    343
Gardener                           304
EMT/Paramedic/Firefighter          297
Senior Clerk                       288
Parking Control Officer            284
Library Page                       276
Senior Eligibility Worker          262
Senior Clerk Typist                251
Clerk                              248
Licensed Vocational Nurse          248
Stationary Engineer                233
Nurse Practitioner                 231
PS Aide to Prof                    218
                                  ...
Mental Health Hearing Officer        1
Court Interpreter Supervisor         1
Track Maint Supt, Muni Railway       1
Field Svcs Asst Supv                 1
Assistant Power House Operator       1
Secretary, Comm on the Environ       1
IS Operator-Journey                  1
Trnst Power Line Wrk Sprv 2          1
Senior Psychiatric Orderly           1
Court Executive Officer              1
Training Coordinator                 1
Specialist in Aging 2                1
Senior Book Repairer                 1
Graphics Supervisor                  1
Chf District Atty Investigator       1
Asst Dir, Log Cabin Rnch             1
Secretary, Health Commission         1
Chief Telephone Operator             1
Payroll Supervisor                   1
Orthopedic Technician 2              1
Chief Plumbing Inspector             1
Sctry, Juv Probation Comm            1
Glazier Supervisor 1                 1
Real Estate Devt. Mgr, SFMTA         1
IS Operator-Analyst                  1
Cfdntal Sctry to City Atty           1
Ex Dir, SE Com Fac Comm              1
Chief of Police                      1
City Attorney                        1
Special Assistant 16                 1
Name: JobTitle, Length: 1051, dtype: int64

In [94]:
sum(df[df['Year'] == 2013]['JobTitle'].value_counts() == 1)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [97]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [100]:
df['JobTitle'][0]

'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'

In [103]:
chief_string('GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY')

False

In [111]:
chief_string('CHIEF MANAGER-METROPOLITAN TRANSIT AUTHORITY')

True

In [123]:
df['JobTitle'].apply(chief_string)

0         False
1         False
2         False
3         False
4          True
5          True
6         False
7         False
8         False
9          True
10         True
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25         True
26        False
27        False
28         True
29         True
          ...
148624    False
148625    False
148626    False
148627    False
148628    False
148629    False
148630    False
148631    False
148632    False
148633    False
148634    False
148635    False
148636    False
148637    False
148638    False
148639    False
148640    False
148641    False
148642    False
148643    False
148644    False
148645    False
148646    False
148647    False
148648    False
148649    False
148650    False
148651    False
148652    False
148653    False
Name: JobTitle, Length: 148654, dtype: bool

In [122]:
df['JobTitle'].apply(lambda x : chief_string(x))

0         False
1         False
2         False
3         False
4          True
5          True
6         False
7         False
8         False
9          True
10         True
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25         True
26        False
27        False
28         True
29         True
          ...
148624    False
148625    False
148626    False
148627    False
148628    False
148629    False
148630    False
148631    False
148632    False
148633    False
148634    False
148635    False
148636    False
148637    False
148638    False
148639    False
148640    False
148641    False
148642    False
148643    False
148644    False
148645    False
148646    False
148647    False
148648    False
148649    False
148650    False
148651    False
148652    False
148653    False
Name: JobTitle, Length: 148654, dtype: bool

In [125]:
sum(df['JobTitle'].apply(lambda x : chief_string(x)))

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [126]:
df['Title_len'] = df['JobTitle'].apply(len)

In [128]:
df[['JobTitle', 'Title_len']]

                                                JobTitle  Title_len
0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY         46
1                        CAPTAIN III (POLICE DEPARTMENT)         31
2                        CAPTAIN III (POLICE DEPARTMENT)         31
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC         36
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
5                              ASSISTANT DEPUTY CHIEF II         25
6                     BATTALION CHIEF, (FIRE DEPARTMENT)         34
7                         DEPUTY DIRECTOR OF INVESTMENTS         30
8                     BATTALION CHIEF, (FIRE DEPARTMENT)         34
9                 CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)         38
10      ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)         48
11                       CAPTAIN III (POLICE DEPARTMENT)         31
12                           EXECUTIVE CONTRACT EMPLOYEE         27
13                                     DEPARTMENT HEAD V         17
14                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
15                    COMMANDER III, (POLICE DEPARTMENT)         34
16                                     DEPARTMENT HEAD V         17
17                 CAPTAIN, EMERGENCYCY MEDICAL SERVICES         37
18                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
19                            ASSISTANT MEDICAL EXAMINER         26
20                            ASSISTANT MEDICAL EXAMINER         26
21                            ASSISTANT MEDICAL EXAMINER         26
22                             CAPTAIN, FIRE SUPPRESSION         25
23                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
24                             CAPTAIN, FIRE SUPPRESSION         25
25                                       CHIEF OF POLICE         15
26                             CAPTAIN, FIRE SUPPRESSION         25
27                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
28                  DEPUTY CHIEF III (POLICE DEPARTMENT)         36
29          DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
...                                                  ...        ...
148624                                      Senior Clerk         12
148625                                  Registered Nurse         16
148626                                     Account Clerk         13
148627                                   General Laborer         15
148628                                   General Laborer         15
148629                                Transcriber Typist         18
148630                                         Carpenter          9
148631                       Communications Dispatcher 1         27
148632                        Protective Services Worker         26
148633                                   General Laborer         15
148634                               Transit Car Cleaner         19
148635                                   General Laborer         15
148636                               Arborist Technician         19
148637                            Transit Fare Inspector         22
148638                                       Electrician         11
148639                                         Custodian          9
148640                           Parking Control Officer         23
148641                                      Museum Guard         12
148642                                       Sign Worker         11
148643                           Parking Control Officer         23
148644                      Stationary Eng, Sewage Plant         28
148645                         Human Services Technician         25
148646                                      Not provided         12
148647                       Communications Dispatcher 2         27
148648                                         Custodian          9
148649                                         Custodian          9
148650                                      Not provided         12
148651                                      Not provided         12
148652                                      Not provided         12
148653                        Counselor, Log Cabin Ranch         26

[148654 rows x 2 columns]

In [129]:
df[['TotalPayBenefits', 'Title_len']].corr()

                  TotalPayBenefits  Title_len
TotalPayBenefits          1.000000  -0.036878
Title_len                -0.036878   1.000000

# Great Job!